{% extends 'testwork/base.html' %}
{% block title %}Master of Code - Test work (AI){% endblock title %}
{% block scripts %}
    <script>
        function change_content() {
            $.ajax({
                    url: '/ajax/get_intent/',
                    data: {
                        'content': $('#id_content').val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        $("#id_lat").html('Latitude: ' + data.lat);
                        $("#id_lng").html('Longitude: ' + data.lng);
                        $("#id_msg").html('Error: ' +data.msg);
                    }
                });
        }
    </script>
{% endblock scripts %}
{% block body %}
    AI
    <form action="">
    {% csrf_token %}
    <p><label for="id_content">Input text:</label>
        <input type="text" name="content" required id="id_content" onchange="change_content() "/></p>
    </form>

{% endblock body %}